@use "../variables/colors" as c;
@use "../variables/sizes" as s;
@use "./diagrama" as diag;

.inicio {
  @include diag.principal;
  padding: 145px 60px 0 60px;
  overflow: hidden;

  .video-banner {
    width: 440px;
    margin-top: 180px;

    .title {
      font-size: s.size(big);
    }
  }

  .logo-banner {
    width: 60%;
    margin-top: 200px;
    display: flex;
    flex-direction: row;

    .logo {
      width: 60%;
      fill: c.$light;
    }

    .logline-container {
      width: 40%;
      display: flex;
      flex-direction: column;
      margin-left: s.space(s4);
      padding: s.space(s2);
      margin-top: auto;

      .parrafo {
        @include diag.parrafo;
      }

      .btn-container {
        margin-top: s.space(s4);
        display: flex;
        flex-direction: row;
        align-items: center;

        .play-btn {
          display: block;
          width: 50px;
          margin-right: s.space(s3);
          opacity: 0.75;
          cursor: pointer;

          &:hover {
            opacity: 1;
            transition: 0.3s;
          }
        }

        .span {
          font-size: s.size(medium);
        }
      }
    }
  }

  .parrafo {
    @include diag.parrafo;
  }
}
