@use "../variables/colors" as c;
@use "../variables/sizes" as s;
@use "./diagrama" as diag;

.sucesos-grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: s.space(s6);

  .infografia {
    width: 100%;
    height: 650px;
    overflow: auto;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .blog-sector {
    @include diag.blogSector;
  }
}
