@use "../variables/colors" as c;
@use "../variables/sizes" as s;
@use "./diagrama" as diag;

.proyecto {
  @include diag.principal;
  padding: 245px 60px 60px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .proyecto-container {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .descripcion {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .title {
      @include diag.title;
    }

    .parrafo {
      @include diag.parrafo;
    }
  }

  .equipo {
    max-width: 700px;
    margin: s.space(s7) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      @include diag.title;
    }

    .equipo-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .equipo-container {
        width: 140px;
        margin: s.space(s3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: flex-start;

        .equipo-img-container {
          width: 100%;
          height: 150px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          background-color: c.$dark;

          .equipo-img {
            height: 100%;
            display: block;
          }
        }

        .equipo-nombre,
        .equipo-rol {
          text-align: center;
          margin-top: s.space(s2);
        }
      }
    }
  }

  .backstage {
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;

    .title {
      @include diag.title;
    }

    .video-container {
      background-image: url(https://res.cloudinary.com/afximagesection/image/upload/v1636571724/EnMedioDeLaNada/Backstage_Tn_zuvbaa.jpg);
      background-size: cover;
    }
  }

  .rosa-icon {
    display: block;
    width: 65px;
    position: absolute;
    bottom: 25%;
    left: 10%;
    fill: c.$light;
    opacity: 0;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transition: 1s;
    }
  }

  .code-window {
    height: 300px;
    background-color: rgba(c.$dark, 0.9);
    padding: s.space(s4);
    border-radius: s.space(s4);
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: s.size(big);
      margin: s.space(s4) 0;
    }

    h3 {
      color: c.$terciary;
    }

    input {
      width: 80%;
      height: s.space(s5);
      border-radius: 25px;
      padding: 0 s.space(s3);
      margin: s.space(s4) 0;
    }

    .pista-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .pista1 {
        font-size: medium;
        margin: s.space(s1);
        opacity: 0.3;
      }

      .pista2 {
        font-size: small;
        margin: s.space(s1);
        opacity: 0;
        cursor: pointer;

        &:hover {
          opacity: 1;
          transition: 1s;
        }
      }
    }
  }
}
