@use "./diagrama" as diag;
@use "../variables/sizes" as s;

.secretos {
  @include diag.principal;

  overflow: auto;

  .secretos-container {
    margin-top: 180px;
    width: 100vw;
    position: relative;

    .cama-item {
      cursor: pointer;
      position: absolute;
      z-index: 3;
    }

    .cama-item-laptop {
      top: 25%;
      left: 20%;
      width: 270px;
      height: 200px;
    }

    .cama-item-smartphone {
      top: 46%;
      left: 50%;
      width: 220px;
      height: 70px;
    }

    .cama-item-diario {
      bottom: 17%;
      left: 34%;
      width: 320px;
      height: 150px;
    }

    .cama-item-bola {
      top: 31%;
      left: 51%;
      width: 94px;
      height: 94px;
    }

    .cama-bg {
      display: block;
      width: 100%;
    }

    .cama-bg-item {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.shine {
  z-index: 2 !important;
}
